/.metadata/
/finance-html/output.log*
**/derby.log
**/**.iml
**/**.pyc
.idea
**/target
**/.settings
/mydb/
/.idea/
__pycache__
/timeseries-lambda/.aws-sam/
/timeseries-lambda/dependency-reduced-pom.xml
